body {
    margin: 0;
}

#container {
    background-color: black;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: grid;
}

.even {
    background-color: black;
}

.odd {
    background-color: white;
}

.even, .odd {
    border: 1px solid black;
}